.check_product{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-remove{
    height: 20px;
}
.product-img{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.product_info{
    padding-left: 20px;

}
.product_info>button{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    
}
.product-title{
    font-size: 17px;
    font-weight: 800;
}